
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffeec3;

    background-size: cover;
    background-position: center;
}

.Home {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.background-container {
    background-size: 100%;
    background-position: center;
    position: relative;
    background-image: url('https://scontent.fskp4-1.fna.fbcdn.net/v/t39.30808-6/217741755_2994588474156342_4570376477910407399_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=783fdb&_nc_ohc=ws52kyD-Cf8AX8kN-71&_nc_ht=scontent.fskp4-1.fna&oh=00_AfC0kDzL4xdErgbEgZQ3Vob3vhtQ-wt1dlIce6Qng_DUIg&oe=65815C05');
}

.order-now-section {
    position: relative;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    width: 25%;
}


.order-now-btn {
    padding: 15px 30px;
    font-size: 20px;
    border: none;
    background-color: #8B4513;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}


@media (max-width: 768px) {
    .order-now-section {
        bottom: 3%;
    }

    .order-now-btn {
        padding: 10px 20px;
        font-size: 16px;
    }
}

.image-list {
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.image-item {
    display: inline-block;
    margin-right: 10px;
}

.image-item img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
}
